<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Registration</h1>
                <p>Saller can create account and add the product price. </p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a></li>

                    <li class="active">Registration</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br><br>
{{!-- <div class="container">

    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger">
        {{message}}
    </div>
    {{/each}}

    {{/if}}

</div> --}}
<div class="container" style="width:40%; padding:20px;background: #eeeeee; border-radius: 10px;">
    <form action="/register" method="post" enctype="multipart/form-data">

        <h2>Registration:</h2>
        <hr>

        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="form-control" id="name" placeholder="Name" name="name" value="{{name}}">
                {{#if errors}}
                <label class="text-danger error-msg">{{errors.name}}</label>
                {{/if}}

            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="shopName" placeholder="Shop Name" name="shopName"
                    value="{{shopName}}">
                {{#if errors}}
                <label class="text-danger error-msg">{{errors.shopName}}</label>
                {{/if}}
            </div>


        </div>




        <div class="row">
            <div class="col-lg-12">
                <input type="number" class="form-control" id="phoneNumber" placeholder="Your Phone Number"
                    name="phoneNumber" value="{{phoneNumber}}">
                {{#if errors}}
                <label class="text-danger error-msg">{{errors.phoneNumber}}</label>
                {{/if}}
            </div>
        </div>




        <div class="row">
            <div class="col-lg-12">
                <input type="text" class="form-control" placeholder="Your Email" name="email" value="{{email}}">

                {{#if errors}}
                <label class="text-danger error-msg">{{errors.email}}</label>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <input type="password" class="form-control" id="password" placeholder=" Password" name="password">
                {{#if errors}}
                <label class="text-danger error-msg">{{errors.password}}</label>
                {{/if}}
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password"
                    name="passwordConfirm">
                {{#if errors}}
                <label class="text-danger error-msg">{{errors.confirm}}</label>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <input type="text" class="form-control" id="address" placeholder="Enter Your Address" name="address"
                    value="{{address}}">
                {{#if errors}}
                <label class="text-danger error-msg">{{errors.address}}</label>
                {{/if}}
            </div>
        </div>

        <div class="form-group">


            <label for="file">Images</label>
            <input type="file" accept='image/*' name="file" class="form-control">

            {{#if errors}}
            <label class="text-danger error-msg">{{errors.file}}</label>
            {{/if}}
        </div>


        <div class="row">
            <div class="col-lg-5">
                <input type="number" class="form-control" id="long" placeholder="Longitude" name="long" value="{{long}}"
                    readonly>
                {{#if errors}}
                <label class="text-danger error-msg">{{errors.long}}</label>
                {{/if}}
            </div>

            <div class="col-lg-4">
                <input type="number" class="form-control" id="lat" placeholder="Latitude" name="lat" value="{{lat}}"
                    readonly>
            </div>

            <div class="col-lg-3">
                <button type="button" class="btn btn-primary btn-block" id="getLocation">Get Location</button>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-success">Register</button>
                <button type="reset" class="btn btn-danger">Reset</button>

                <br>
                <br>
                <p class="text-center">If You have already Register then <a href="/login" style="color:blue ">Click
                        Here!</a>
                </p>
            </div>
        </div>

    </form>
</div>


<br>
<br>